[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
[submodule "love2d-assets-loader"]
	path = love2d-assets-loader
	url = https://github.com/Yonaba/love2d-assets-loader.git
[submodule "AdvTiledLoader"]
	path = AdvTiledLoader
	url = https://github.com/Kadoba/Advanced-Tiled-Loader.git
[submodule "hardoncollider"]
	path = hardoncollider
	url = https://github.com/vrld/HardonCollider.git
